@media screen and (max-width: 1200px) {
  .box {
    display: none;
  }

  section {
    max-width: 90%;
    min-width: 90%;
    display: block;
    overflow: visible;
  }
  .main-img {
    min-height: 10vh;
    text-align: center;
    .background-pattern {
      width: auto;
      content: url("../images/bg-pattern-mobile.svg");
      top: -5%;
      left: 50%;
      transform: translateX(-50%);
    }
    .woman {
      width: auto;
      content: url("../images/illustration-woman-online-mobile.svg");
      top: -125%;
      left: 50%;
      transform: translateX(-55%);
    }
  }

  .main-text {
    padding: 5rem 2rem 3rem 2rem;
  }

  h2 {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  main {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  hr {
    margin: 0.5rem 0rem;
  }
}
