@media screen and (max-width: 1375px) {
  .main-img {
    .background-pattern {
      left: -55%;
    }
  }
}
@media screen and (max-width: 1330px) {
  .main-img {
    .background-pattern {
      left: -57%;
    }
  }
}
@media screen and (max-width: 1280px) {
  .main-img {
    .background-pattern {
      left: -59%;
    }
  }
}
@media screen and (max-width: 1250px) {
  .main-img {
    .background-pattern {
      left: -60%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .box {
    display: none;
  }

  section {
    max-width: 90%;
    min-width: 90%;
    display: block;
    overflow: visible;
  }
  .main-img {
    .background-pattern {
      content: url("../images/bg-pattern-mobile.svg");
      top: 0%;
      left: 47%;
      transform: translateX(-50%);
    }
    .woman {
      content: url("../images/illustration-woman-online-mobile.svg");
      top: -18%;
      left: 45%;
      transform: translateX(-50%);
    }
  }

  .main-text {
    padding: 15rem 2rem 3rem 2rem;
  }

  h2 {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .main-img {
    .background-pattern {
      content: url("../images/bg-pattern-mobile.svg");
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
    }
    .woman {
      content: url("../images/illustration-woman-online-mobile.svg");
      top: -18%;
      left: 45%;
      transform: translateX(-50%);
    }
  }
  h4 {
    font-size: 1.4rem;
  }
}
