* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

li,
button,
label,
input,
textarea,
a,
p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #787887;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
  color: 1.2rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: 400;
  color: #787887;
}

hr {
  background-color: #e7e7e9;
  height: 1px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(to bottom, #af67e9, #6565e7);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main .box {
  z-index: 2;
  position: absolute;
  left: 6%;
  top: 50%;
  -webkit-transform: translateY(-22%);
          transform: translateY(-22%);
}

section {
  background: white;
  max-width: 75%;
  min-width: 75%;
  min-height: 65vh;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.main-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.main-img .background-pattern {
  position: absolute;
  z-index: 0;
  left: -52%;
  top: -56%;
}

.main-img .woman {
  position: absolute;
  z-index: 1;
  left: -7%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-text {
  padding: 0rem 10rem 0rem 0rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.main-text .text-container {
  padding-top: 1rem;
}

.main-text .text-container .view {
  visibility: visible;
  display: block;
}

.main-text .text-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-text .text-header img {
  padding-bottom: 1rem;
}

.main-text .text-header .active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-bottom: 0rem;
  padding-top: 1rem;
}

.main-text .text-header .dark {
  color: #1d1e35;
  font-weight: 700;
}

h2 {
  padding-bottom: 3rem;
}

h4 {
  padding-bottom: 1rem;
  cursor: pointer;
}

h4:hover {
  color: #f47c57;
}

p {
  width: 80%;
  display: none;
}

hr {
  margin: 1.5rem 0rem;
}

.attribution {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: white;
}

@media screen and (max-width: 1375px) {
  .main-img .background-pattern {
    left: -55%;
  }
}

@media screen and (max-width: 1330px) {
  .main-img .background-pattern {
    left: -57%;
  }
}

@media screen and (max-width: 1280px) {
  .main-img .background-pattern {
    left: -59%;
  }
}

@media screen and (max-width: 1250px) {
  .main-img .background-pattern {
    left: -60%;
  }
}

@media screen and (max-width: 1200px) {
  .box {
    display: none;
  }
  section {
    max-width: 90%;
    min-width: 90%;
    display: block;
    overflow: visible;
  }
  .main-img .background-pattern {
    content: url("../images/bg-pattern-mobile.svg");
    top: 0%;
    left: 47%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .main-img .woman {
    content: url("../images/illustration-woman-online-mobile.svg");
    top: -18%;
    left: 45%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .main-text {
    padding: 15rem 2rem 3rem 2rem;
  }
  h2 {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .main-img .background-pattern {
    content: url("../images/bg-pattern-mobile.svg");
    top: 0%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .main-img .woman {
    content: url("../images/illustration-woman-online-mobile.svg");
    top: -18%;
    left: 45%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  h4 {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=styles.css.map */